.mainRoad {
  position: relative;
  top: 95px;
  margin: 0;
  padding: 0;
  width: 8cm;
  height: 10cm;
  overflow: hidden;
  border-style: solid;
  border-color: white;
}

#road {
  position: absolute;
  left: -280px;
  top: -160px;
  width: 18cm;
  height: 18cm;
  margin: 0;
  padding: 0;
  /* border-style: solid;
  border-color: orange; */

  /*클릭시 도로이동*/
}

.roadMoving {
  animation: transform 0.3s linear infinite;
}

.roadMovingEnd {
  animation: transform 0.3s linear 50;
  animation: none;
}

@keyframes transform {
  0% {
    transform: translate(0px, 0px);
  }

  100% {
    transform: translate(70px, 39.93px);
  }
}
