.nightEffect {
  position: absolute;
  /* top: -60px;
  left: -95px; */
  top: -320px;
  left: 50px;
  margin: 0;
  padding: 0;
  width: 11cm;
  height: 11cm;
  /* width: 10cm;
  height: 10cm; */
  border-radius: 50%;
  /* overflow: hidden; */
  animation: fadeIn 3s;
  /* border-style: solid;
  border-color: aqua; */
}

.nightEffectEnd {
  animation: fadeOut 1s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
  }
}

#night {
  position: absolute;
  top: -5px;
  left: 0px;
  margin: 0;
  padding: 0;
  width: 11cm;
  height: 11cm;
  /* border-radius: 50%; */
  animation: spin 200s linear infinite;
  /* border-style: solid;
  border-color: purple; */
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
