.nightEffect {
  position: absolute;
  top: -320px;
  left: 50px;
  margin: 0;
  padding: 0;
  width: 11cm;
  height: 11cm;
  border-radius: 50%;
  animation: fadeIn 3s;
}

.nightEffectEnd {
  animation: fadeOut 1s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
  }
}

#night {
  position: absolute;
  top: -5px;
  left: 0px;
  margin: 0;
  padding: 0;
  width: 11cm;
  height: 11cm;
  animation: spin 200s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
