.lampAndLight {
  position: absolute;
  top: -25px;
  left: 20px;
  margin: 0;
  padding: 0;
  width: 7cm;
  height: 8cm;
}

.moveingToRight {
  animation: lampToRight 1s linear;
}

.moveingFromLeftToRight {
  animation: lampFromLeftToRight 2.14s linear;
}

.moveingToMiddle {
  animation: lampToMiddle 1s linear;
}

@keyframes lampToMiddle {
  0% {
    transform: translate(-250px, -144px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes lampToRight {
  0% {
    transform: translate(0px, 0px);
  }

  100% {
    transform: translate(220px, 129px);
  }
}

@keyframes lampFromLeftToRight {
  0% {
    transform: translate(-250px, -144px);
  }

  50% {
    transform: translate(0px, 0px);
  }

  100% {
    transform: translate(220px, 119px);
  }
}

#streetLamp {
  position: absolute;
  top: -5.5cm;
  left: -5.5cm;
  margin: 0;
  padding: 0;
  height: 20cm;
}

.lampLight {
  position: absolute;
  top: 2.1cm;
  left: 2.4cm;
  margin: 0;
  padding: 0;
  height: 4.9cm;
  width: 2.7cm;
  opacity: 0.6;
}

.blinkStart {
  animation: blink 0.3s linear 2;
  animation-delay: 2s;
}

.blinkburning {
  animation: blink 0.3s linear infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
